<!DOCTYPE html>
<html lang="en">

<head>
    <title th:text="${productName}"></title>
    <style type="text/css">
table, th, td {
  border: 1px solid black;
}
    </style>
</head>

<body>
    <h1 th:text="${productName}"></h1>
      
    <h2>Live Data</h2>     
        <div>
          <table>
            <tr>
              <th>Processing Time</th>
              <th>File Name</th>
              <th>Actual Quality</th>
              <th>Actual Quality Class</th>
              <th>Estimated Quality Class</th>
            </tr>
            <tr th:each="data : ${liveData}">
              <td th:text="${data.annotatedFeature.feature.processing_time}"></td>
              <td th:text="${data.annotatedFeature.feature.filename}"></td>
              <td th:text="${data.annotatedFeature.feature.quality}"></td>
              <td th:text="${data.qualityClass}"></td>
              <td th:text="${data.estimatedQualityClass}"></td>
            </tr>
          <table>
        </div>
        
    <h2>Historical Data</h2>     
        <div>
          <table>
            <tr>
              <th>Processing Time</th>
              <th>File Name</th>
              <th>Actual Quality</th>
              <th>Actual Quality Class</th>
            </tr>
            <tr th:each="data : ${historicData}">
              <td th:text="${data.annotatedFeature.feature.processing_time}"></td>
              <td th:text="${data.annotatedFeature.feature.filename}"></td>
              <td th:text="${data.annotatedFeature.feature.quality}"></td>
              <td th:text="${data.qualityClass}"></td>
            </tr>
          <table>
        </div>
</body>

</html>